#NavigationComponent {
  li {
    min-width: 100px;

    a {
      text-align: center;
      font-size: 18px;
    }

    a:hover {
      background: gray;
    }

    .active {
      background: gray;
    }
  }
}
